.comics-card {
    width: 25vw;
    height: 65vh;
    padding: 1rem;
    margin: 3rem;
    background-color: gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comics-card:hover {
    background-color: gainsboro;
}

.title-and-category > h3, .title-and-category > h4 {
    margin: 5px
}
